$color:#FF001E;
$colors:#ffffff;


.hero{
  background: url("../../img/Rectangle 66.png")no-repeat center/cover fixed;
  min-height: 100vh;
  .hero-general{
    background:url("../../img/Rectangle 67.svg")no-repeat center/cover fixed;
    min-height: 100vh;

    &__block{
      padding-top: 184px;

      &--amet{
        font-style: normal;
        font-weight: 700;
        font-size: 100px;
        line-height: 110%;
        letter-spacing: 0.003em;
        color: $colors;
        animation: item 5s;
        @keyframes item {
          0%{
            opacity: 0;
            margin-left: -500px;
          }
          50%{
            margin-left: 50px;
          }
        }
        &--dolor{
          font-style: normal;
          font-weight: 700;
          font-size: 100px;
          line-height: 110%;
          letter-spacing: 0.003em;
          background: linear-gradient(266.17deg, #C50000 29.07%, rgba(218, 97, 97, 0.841235) 40.08%, rgba(255, 0, 0, 0.6) 54.02%, #D24343 63.48%, rgba(255, 0, 0, 0.71) 72.23%, #FF0000 82.19%, rgba(255, 0, 30, 0.42) 91.27%, #FF001E 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          animation: items 6s;
          @keyframes items {
            0%{
              opacity: 0;
              margin-left: -500px;
            }
            50%{
              margin-left: 50px;
            }
          }
          &--par{
            width: 500px;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 100%;
            color: $colors;
            animation: title 7s;
            @keyframes title {
              0%{
                opacity: 0;
                margin-left: -500px;
              }
              50%{
                margin-left: 50px;
              }
            }
            &--btu{
              width: 322px;
              height: 60px;
              background: $colors;
              border-radius: 5px;
              font-style: normal;
              font-weight: 600;
              font-size: 18px;
              line-height: 24px;
              letter-spacing: 0.003em;
              color: $color;
              animation: anim 8s;
              @keyframes anim {
                0%{
                  opacity: 0;
                  margin-left: -500px;
                }
                50%{
                  margin-left: 50px;
                }
              }
            }
          }
        }
      }
    }
  }
}